{{define "head"}}<meta charset="utf-8">
  <title>{{.Title}}</title>
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/neat.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{.Site.Author}}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@zetta1985" />
  <meta name="twitter:title" content="{{.Title}}" />
  <meta name="Hatena::Bookmark" content="nocomment" />
  <link rel="author" href="http://www.hatena.ne.jp/zetta1985/" />{{end}}
