  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="author" content="Tomochika Hara">
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$">
$endif$
  <title>$if(title)$$title$ - $endif$thara.dev</title>
  <link rel="stylesheet" type="text/css" href="$base_url$/css/neat.css">
  <link rel="stylesheet" type="text/css" href="$base_url$/css/custom.css">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@zetta1985" />
  <meta name="twitter:title" content="$if(title)$$title$ - $endif$thara.dev" />
  <meta name="Hatena::Bookmark" content="nocomment" />
  <link rel="author" href="http://www.hatena.ne.jp/zetta1985/" />
